.block-contact
  .container
    .block-content
      %h2.block-title Contact Us
      %p Want to host an event, or have a specific question? Contact us with the form below.
      = form_tag "/contact", autocomplete: "off", class: 'form-validate', 'data-toggle': "validator" do
        = invisible_captcha :topic
        .row
          .col-sm-6
            .form-group.has-feedback
              = label_tag 'name', 'Your Name *'
              = text_field_tag "name", nil, placeholder: 'John Doe', required: true, class: 'form-control', minlength: 2
              %span{class: "fa form-control-feedback", 'aria-hidden': true}
          .col-sm-6
            .form-group.has-feedback
              = label_tag 'reason', 'Reason For Inquiry *'
              = select_tag 'reason', options_for_select([["- Select a reason -",""], ["Host a Try Turing event","Host a Try Turing event"], ["Ask a question","Ask a question"], ["Other", "Other"]], ""), required: true, class: 'form-control'
              %span{class: "fa form-control-feedback", 'aria-hidden': true}
        .form-group.has-feedback
          = label_tag 'message', 'Your Message *'
          = text_area_tag 'message', nil, placeholder: 'Tell us more about your question.', required: true, class: 'form-control'
          %span{class: "fa form-control-feedback", 'aria-hidden': true}
        .form-group.form-group-form-actions.text-right
          #formResults.text-success
          .btn-form-submit
            %button{type: 'submit', class: 'btn btn-primary btn-submit', 'data-loading-text' => "Sending..."}
              Send Message
              %i.fa.fa-arrow-right
