%header
  .block-logo
    %a{href: 'https://www.turing.io', target: "_blank"}
      = image_tag("logo.png", size: "280x80", alt: "Turing Logo")

  .container.block-banner.text-center
    %h1 Try Coding
    %h2 Learn the basics of programming
%main
  .block-upcoming-event
    .container
      .gear-top
      = render partial: 'partials/event', locals: {event: @events[0], label: 'NEXT EVENT'}
  .block-try-turing-explained
    .container
      %h3.text-center
        <em>Try Coding</em> is an initiative from the <a href='http://turing.io' target='_blank'>Turing School</a> that will expose you to the basics of programming. We'll introduce you to programming fundamentals for building web applications, and to the basics of HTML, CSS and JavaScript.
      %hr
      %p.text-center
        %a{href:"#all-events", class: 'btn btn-ghost btn-lg btn-primary'}
          View All Try Coding Events
          %i.fa.fa-arrow-right
      %p.text-center
        %a{href:"https://apply.turing.io", target: "_blank", class: 'btn btn-lg btn-success'}
          Apply for a Full-Time Program
          %i.fa.fa-check


  .block-middle-section
    .container
      .row
        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-idea.png', size: '70x70', class: 'box-icon')
            %h4 Have an idea?
            %p Take your passion to the next level and become your own technical co-founder. Try coding and take the first step in developing your own web applications, and building your own prototypes. No experience required.

        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-brainstorm.png', size: '70x70', class: 'box-icon')
            %h4 Interested in a change?
            %p Time to ditch that boring 9-to-5 job. Hundreds of people with no technical background are becoming software developers every year. Try coding and see whether programming is the right fit for you.

        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-workstation.png', size: '70x70', class: 'box-icon')
            %h4 Seeking work/life balance?
            %p Software development is a proven path to a high-fulfillment career. You can work remotely, have flex time, and spend time with your family. Try coding and start investing in your own happiness.
  .block-upcoming-events
    .container
      %h1#all-events.text-center Upcoming Sessions
      - @events.each do |event|
        = render partial: 'partials/event', locals: {event: event, label: 'UPCOMING'}

  .block-perks
    .container
      .block-content
        = image_tag('logo-small.png', size: '70x70')
        %h1 Complete the<br>Try Coding Program<br>and get a $500 scholarship at Turing School
        %a{href: 'http://turing-school.eventbrite.com', class: 'btn btn-lg btn-white btn-primary'}
          Register Now
          %i.fa.fa-arrow-right

  = render partial: 'partials/contact'
%footer
  .container.text-center
    %a{href:"https://www.turing.io/", target:"_blank"} Turing School of Software & Design
    = '- A Colorado Non-Profit Organization. Copyright 2017 All Rights Reserved. Website Design by:'
    %a{href:"https://www.agencyascend.com", rel:"nofollow", target:"_blank"}Ascend
