%header
  .block-logo
    %a{href: 'https://www.turing.io', target: "_blank"}
      = image_tag("logo.png", size: "280x80", alt: "Turing Logo")

  .container.block-banner.text-center
    %h1 Try Coding for a Weekend
    %h2 Learn the basics of programming
%main
  .block-upcoming-event
    .container
      .gear-top
      = render partial: 'partials/event', locals: {event: @events[0], label: 'NEXT EVENT'}
  .block-try-turing-explained
    .container
      %h3.text-center
        <em>Try Coding</em> is a two-day program from the <a href='http://turing.io' target='_blank'>Turing School</a> that will expose you to the basics of programming. We'll introduce you to Ruby, a popular programming language for building web applications, and to the basics of HTML, CSS and JavaScript.
      %hr
      %p.text-center.view-all-events
        %a{href:"#all-events", class: 'btn btn-ghost btn-lg btn-primary'}
          View All Events
          %i.fa.fa-arrow-right
  .block-middle-section
    .container
      .row
        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-idea.png', size: '70x70', class: 'box-icon')
            %h4 Have an idea?
            %p Take your passion to the next level and become your own technical co-founder. Try Coding for a weekend and take the first step in developing your own web applications, and building your own prototypes. No experience required.

        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-brainstorm.png', size: '70x70', class: 'box-icon')
            %h4 Interested in a change?
            %p Time to ditch that boring 9-to-5 job. Hundreds of people with no technical background are becoming software developers every year. Try Coding for a weekend and see whether programming is the right fit for you.

        .col-md-4
          .box.match-height{"data-mh": "middle-section"}
            = image_tag('icon-workstation.png', size: '70x70', class: 'box-icon')
            %h4 Seeking work/life balance?
            %p Software development is a proven path to a high-fulfillment career. You can work remotely, have flex time, and spend time with your family. Try Coding for a weekend and start investing in your own happiness.
  .block-what-you-learn
    .container
      %h1.text-center
        What you'll learn
      .row
        .col-sm-4.col-md-6
          = image_tag('students-working-1.jpg', class: 'img-responsive')
        .col-sm-8.col-md-6
          %h3 Day 1 - Introduction to Back-End Engineering
          %p ​During the first day, you'll learn the basics of Ruby—a popular programming language for building web applications and writing back-end code. We'll cover how to navigate around your computer using the terminal, read and write files, and write your own command line applications. By the end of the day, you'll have built your very own program to post tweets and read timelines from Twitter.
          %ul.list-inline
            %li
              = image_tag('icon-ruby.png', size: '35x50')
            %li
              = image_tag('icon-terminal.png', size: '46x43')
      .row
        .col-sm-4.col-md-6
          = image_tag('students-working-2.jpg', class: 'img-responsive')
        .col-sm-8.col-md-6
          %h3 Day 2 - Introduction to Front-End Engineering
          %p ​On the second day, you'll learn the basics of front-end engineering. We'll cover HTML, CSS, and JavaScript. You'll learn how to create, style, and add interactivity to web pages. By the end of the day, you'll build a game from scratch that runs in the browser.
          %ul.list-inline
            %li
              = image_tag('icon-html5.png', size: '36x50')
            %li
              = image_tag('icon-css3.png', size: '36x50')
            %li
              = image_tag('icon-js.png', size: '41x41')

  -# .block-testimonials
  -#   #carousel-testimonials.carousel.slide{"data-ride" => "carousel"}
  -#     %ol.carousel-indicators
  -#       %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonials"}
  -#       %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonials"}
  -#       %li{"data-slide-to" => "2", "data-target" => "#carousel-testimonials"}
  -#     .carousel-inner{:role => "listbox"}
  -#       .item.slide-1.active
  -#         .item-content.container
  -#           = image_tag('testimonial-student-picture-1.png', size: '110x110')
  -#           %blockquote
  -#             "All of us did this in order to change careers, and I have great news: It’s so awesome out here in the real world of software development. I work for a company that makes me feel valued, and that I started contributing to during week one. I’m excited to go to work every day, because I love what I do and the people I get to do it with.
  -#             %small Kel Mitchell, Try Turing 2015
  -#       .item.slide-2
  -#         .item-content.container
  -#           / Repeat contents of slide 1 and add background picture in _block-testimonials.scss
  -#           SLIDE 2
  -#       .item.slide-3
  -#         .item-content.container
  -#           / Repeat contents of slide 1 and add background picture in _block-testimonials.scss
  -#           SLIDE 3

  .block-upcoming-events
    .container
      %h1#all-events.text-center Upcoming Events
      - @events.each do |event|
        = render partial: 'partials/event', locals: {event: event, label: 'UPCOMING'}

  .block-perks
    .container
      .block-content
        = image_tag('logo-small.png', size: '70x70')
        %h1 Try Coding gives you $500 off your tuition cost at Turing School.
        %a{href: 'http://turing-school.eventbrite.com', class: 'btn btn-lg btn-white btn-primary'}
          Register Now
          %i.fa.fa-arrow-right

  = render partial: 'partials/contact'
%footer
  .container.text-center
    %a{href:"https://www.turing.io/", target:"_blank"} Turing School of Software & Design
    = '- A Colorado Non-Profit Organization. Copyright 2016 All Rights Reserved. Website Design by:'
    %a{href:"https://www.agencyascend.com", rel:"nofollow", target:"_blank"}Ascend
