!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}
    %meta{content: "http://trycoding.turing.io", property: "og:url"}
    %meta{content: "Try Coding Weekend", property: "og:title"}
    %meta{content: "Try Coding Weekend is a two-day program from the Turing School that will expose you to the basics of programming. We'll introduce you to Ruby, a popular programming language for building web applications, and to the basics of HTML, CSS and JavaScript.", property: "og:description"}
    %meta{content: "Try Coding Weekend", property: "og:site_name"}
    %meta{content: image_url('students-working-1.jpg'), property: "og:image"}
    -# %meta{content: "[FILLE ME IN]", property: "og:image:width"}
    -# %meta{content: "[FILLE ME IN]", property: "og:image:height"}

    %title Try Coding Weekend | Turing School of Software & Design
    = stylesheet_link_tag    'application', media: 'all'
    = favicon_link_tag 'turing.ico'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js'
    = csrf_meta_tags
    %script{ type: 'text/javascript', src: '//use.typekit.net/lqc0crg.js' }
    %script{ type: 'text/javascript' } try{Typekit.load();}catch(e){}

    = render 'layouts/facebook'
    = render 'layouts/logrocket' if false # intentionally turned off for now

    - if ENV.fetch('GOOGLE_ANALYTICS_ENABLED', nil).present?
      = render 'partials/analytics'
  %body
    = yield
