!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Try Turing | Turing School of Software & Design
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'
    = csrf_meta_tags
    %script{ type: 'text/javascript', src: '//use.typekit.net/lqc0crg.js' }
    %script{ type: 'text/javascript' } try{Typekit.load();}catch(e){}
  %body
    = yield
